[submodule "mpcc/external/acados"]
	path = mpcc/external/acados
	url = https://github.com/acados/acados.git
[submodule "mpcc/external/eigen"]
	path = mpcc/external/eigen
	url = https://gitlab.com/libeigen/eigen/
[submodule "mpcc/external/autodiff"]
	path = mpcc/external/autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "mpcc/external/Catch2"]
	path = mpcc/external/Catch2
	url = https://github.com/catchorg/Catch2.git
